
/* Displays navbar as table taking up full screen width - change this on mobile */
.navbar-nav {
  display:table;
  width:100%;
  margin: 0;
}
.navbar-nav > li {
  width: 20%;
  float:none;
  display:table-cell;
  text-align:center;
}

/* Dropup on hover rather than click */
ul.nav li.dropup:hover > ul.dropdown-menu {
    display: block;
}

/* Center dropup menu */
.dropdown-menu {
  left: 50%;
  right: auto;
  text-align: center;
  transform: translate(-50%, 0);
}

/* Styling for social media icons */
.social-media > a > img {
  height: 20px;
  width: 20px;
  margin: auto 10px;
}
.social-media a {
  display: inline-block;
}
.social-media {
  margin:0;
  padding:0;
  float: none;
  text-align: center;
}

/* Scrollspy menu for films */
ul.nav-pills {
    top: 20px;
    position: fixed;
}

/* Styling for film scrollspy */
.nav-pills > li {
  border: solid black 1px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
       color: red;
       background-color: white;
}

/* Styling for 35mm imgs */
.landscape {
  height:100px;
  width:150px;
  margin-bottom: 20px;
}

/* Styling for community imgs */
.community-img {
  margin-bottom: 20px;
}
